<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>País:</strong>
  <%= @state.country.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Nome das cidades</th>
    </tr>
  </thead>

  <tbody>
    <% @state.cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', states_path %>
